/heap*.log
/tests/*/*.out
/tests/*/*.diff

# Configs for faster builds - see readme / example configs
/.cargo/config.toml
/rust-toolchain.toml

# Separate target dir for rust-analyzer to speed up builds
/target-ra

/target
/.idea
