/timings*.txt
/interp*.txt
/jit*.txt
/heap*.log
/tests/*/debug*
/tests/*/*.out
/tests/*/*.diff

# Debugging
.gdb_history
peda-session-fml.txt

# Configs for faster builds - see readme / example configs
/.cargo/config.toml
/rust-toolchain.toml

# Separate target dir for rust-analyzer to speed up builds
/target-ra

/target
/.idea
